html, body {
    height: 100%;
    width: 100%;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.6em;
}

p {
    font-size: 1.4em;
}

img {
    padding-bottom: 20px;
}

hr {
    margin-top: 0;
    border: none;
    height: 1px;
    color: #000000;
    background-color: #000000;
}

.content {
    padding-top: 45px;
    width: 100%;
}

.navbar {
    width: 250px;
    height: 100%;
    padding-top: 40px;

    .navbar-brand {
        font-size: 3em;
    }

    .nav-links {
        margin-top: 80px;
        padding: 0;

        ul {
            padding-left: 30px;
        }

        li {
            list-style: none;
            font-size: 1.4em;

            span {
                left: 5px;
                top: 2px;
            }
        }
    }
}

.idle-button {
    color: #95cff4;

    &:hover, &:focus {
        color: #7ca8c4; 
        text-decoration: none;
    }
}

.active-button {
    color: #e28a8a;

    &:hover, &:focus {
        color: #b97272; 
        text-decoration: none;
    }
}

#page {
    padding-left: 265px;
}

#home .news-holder {
    height: 250px;
    position: relative;
    background-color: #4e4e4e;
    color: #e28a8a;
    border: 1px solid #ddd;
    border-radius: 4px;

    h4 {
        text-decoration: none;
        color: #ececec;
    }

    .publishDate {
        position: absolute;
        bottom: 0;
    }
}

#cars {
    input[type=text]{
        font: inherit;
        border: 6px solid #4e4e4e;
        padding: 13px 12px;
        font-size: 1.4em;
        box-shadow: 0 1px 1px #DDD;
        width: 100%;
        outline: none;
        display: block;
        color: #7B8585;
        margin: 0 auto 20px;
    }

    .carthumb-holder{
        background-color: #4e4e4e;

        h3 {
            color: #e28a8a;
            margin-left: 10px;
            margin-top: 0;

            &:hover, &:focus {
                color: #b97272; 
                text-decoration: none;
            }
        }
    }
}

#car {
    .lead {
        margin-top: 20px;
        font-size: 1.4em;
        font-weight: 700;
    }

    .body-text {
        margin-top: 20px;
    }
}

#compare {
    display: table;
    width: 100%;

    .compare-cols {
        float: none;
        display: table-cell;
    }

    .hide-specs {
        display: none;
    }
}

#specs-info {
    bottom: 0;
    position: absolute;

    p {
        height: 40px;
        margin-bottom: 0;
        vertical-align: middle;
        display: table-cell;
    }
}

#compare-car {
    padding: 0 10px;

    p {
        height: 70px;
        margin-bottom: 0;
        vertical-align: middle;
        display: table-cell;
    }

    .select-car {
        padding-bottom: 20px;

        .dropdown {
            width: 100%;

            #cars-dropdown {
                font: inherit;
                border: 6px solid #4e4e4e;
                padding: 13px 12px;
                font-size: 1.4em;
                box-shadow: 0 1px 1px #DDD;
                width: 100%;
                outline: none;
                display: block;
                color: #7B8585;
            }

            .dropdown-menu {
                font: inherit;
                border-bottom: 6px solid #4e4e4e;
                border-left: 6px solid #4e4e4e;
                border-right: 6px solid #4e4e4e;
                padding: 13px 12px;
                font-size: 1.4em;
                box-shadow: 0 1px 1px #DDD;
                width: 100%;
                outline: none;
                color: #7B8585;
                margin: 0;
            }
        }
    }
}

@media (min-width: 992px) {

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.6em;
    }

    h4 {
        font-size: 1.4em;
    }

    p {
        font-size: 1em;
    }

    .navbar {

        .navbar-brand {
            font-size: 3.4em;
        }
    }

    #compare .hide-specs {
        display: table-cell;
    }

    #compare-car p {
        height: 40px;
    }

}
