html, body {
    height: 100%;
    width: 100%;
}

#page {
    padding-left: 200px;
}

#cars {

    .carthumb-holder{
        background-color: #4e4e4e;

        h3 {
            color: #e28a8a;
            padding: 10px;

            &:hover, &:focus {
                color: #b97272; 
                text-decoration: none;
            }
        }
    }
}

.content {
    padding-top: 45px;
}

.navbar {
    width: 200px;
    height: 100%;
    padding-top: 40px;

    .navbar-brand {
        font-size: 38px;
    }

    .nav-links {
        margin-top: 80px;
        padding: 0;

        li {
            list-style: none;
        }
    }
}

.idle-button {
    color: #95cff4;

    &:hover, &:focus {
        color: #7ca8c4; 
        text-decoration: none;
    }
}

.active-button {
    color: #e28a8a;

    &:hover, &:focus {
        color: #b97272; 
        text-decoration: none;
    }
}

.head-text .lead {
    margin-top: 20px;
    font-size: 115%;
    line-height: 1.5;
}

.body-text {
    margin-top: 20px;
}
